@model IEnumerable<Portal_v1._0._1.Models.RaporGelen>
@{
    ViewBag.Title = "Rapor Görüntüle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="Admin/Index">Ana Sayfa</a>
    </li>
    <li class="breadcrumb-item active">Rapor Görüntüle</li>
</ol>
<!-- Example DataTables Card-->
<div class="card border-primary mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> <strong class="custom-strong">Talep Edilen Raporlar</strong>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th class="custom-strong">Ad Soyad</th>
                        <th class="custom-strong">Rapor Açıklaması</th>
                        <th class="custom-strong">Başlangıç Tarihi</th>
                        <th class="custom-strong">Bitiş Tarihi</th>
                        <th class="custom-strong">Onay</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="custom-strong">Ad Soyad</th>
                        <th class="custom-strong">Rapor Açıklaması</th>
                        <th class="custom-strong">Başlangıç Tarihi</th>
                        <th class="custom-strong">Bitiş Tarihi</th>
                        <th class="custom-strong">Onay</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="6" class="text-center bg-danger">Rapor talebi yok</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name @item.LastName</td>
                                <td>@item.RaporAciklama</td>
                                <td>@String.Format("{0:dd/MM/yyyy}",item.BaslangicTarihi)</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.BitisTarihi)</td>
                                @if (item.Onaylandi == true)
                                {
                                    <td><span class="badge badge-success" style="padding:5px;">Onaylandı</span></td>
                                }
                                else
                                {
                                    <td><span class="badge badge-danger" style="padding:5px;">Onaylanmadı</span></td>
                                }
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">@DateTime.Now.Year</div>
</div>


