@model IEnumerable<Portal_v1._0._1.Identity.PortalUser>
@{
    ViewBag.Title = "InactiveUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Admin/Index">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/Admin/Index">Kullanıcılar</a>
    </li>
    <li class="breadcrumb-item active">İnaktif Kullanıcılar</li>
</ol>
<!-- Example DataTables Card-->
<div class="card border-primary mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> <strong class="custom-strong">Çıkış Yapmış Kullanıcılar</strong>
    </div>
    <div class="card-body ">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th class="custom-strong">Ad Soyad</th>
                        <th class="custom-strong">Unvan</th>
                        <th class="custom-strong">Telefon</th>
                        <th class="custom-strong">E-Posta</th>
                        <th class="custom-strong">Lokasyon</th>
                        <th class="custom-strong">Çıkış Tarihi</th>
                        <th class="custom-strong">Görüntüle</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="custom-strong">Ad Soyad</th>
                        <th class="custom-strong">Unvan</th>
                        <th class="custom-strong">Telefon</th>
                        <th class="custom-strong">E-Posta</th>
                        <th class="custom-strong">Lokasyon</th>
                        <th class="custom-strong">Çıkış Tarihi</th>
                        <th class="custom-strong">Görüntüle</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="6" class="text-center bg-danger">Kullanıcı yok</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name @item.LastName</td>
                                <td>@item.Title</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@String.Format("{0:dd/MM/yyy}", item.IsCikis)</td>
                                <td>@Html.ActionLink("Görüntüle", "ShowUser", new { id = item.Id }, new { @class = "btn btn-outline-custom-blue btn-custom-padding" })</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">@DateTime.Now.Year</div>
</div>
@section scripts{
    <script src="~/js/sb-admin-datatables.min.js"></script>
}

