@model IEnumerable<Portal_v1._0._1.Identity.PortalUser>
@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Admin/Index">Admin</a>
    </li>
    <li class="breadcrumb-item active">Kullanıcılar</li>
</ol>
<!-- Example DataTables Card-->
<div class="card border-primary  mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> <strong class="custom-strong">Kullanıcılar</strong>
        <a href="/Admin/InactiveUsers" class="ciktiMi-btn btn btn-custom-blue float-right ">Çıkış yapmış kullanıcılar</a>
    </div>
    <div class="card-body ">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th class="custom-strong">Ad Soyad</th>
                        <th class="custom-strong">Unvan</th>
                        <th class="custom-strong">Telefon</th>
                        <th class="custom-strong">E-Posta</th>
                        <th class="custom-strong">Lokasyon</th>
                        <th class="custom-strong">İzin Hakkı</th>
                        <th class="custom-strong">Görüntüle</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="custom-strong">Ad Soyad</th>
                        <th class="custom-strong">Unvan</th>
                        <th class="custom-strong">Telefon</th>
                        <th class="custom-strong">E-Posta</th>
                        <th class="custom-strong">Lokasyon</th>
                        <th class="custom-strong">İzin Hakkı</th>
                        <th class="custom-strong">Görüntüle</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="6" class="text-center bg-danger">Kullanıcı yok</td>
                        </tr>
                    }
                    else
                    {
                        int index = 0;
                        foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Name @item.LastName</td>
                            <td>@item.Title</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                            @if (ViewBag.kalan[index] < 0)
	                        {
		                    <td>0 Gün</td>
                            }
                            else
                            { 
                            <td>@ViewBag.kalan[index] Gün</td>
                            }
                            <td>@Html.ActionLink("Görüntüle", "ShowUser", new { id = item.Id }, new { @class = "btn btn-outline-custom-blue btn-custom-padding" })</td>
                        </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">@DateTime.Now.Year</div>
</div>
@section scripts{
    <script src="~/js/sb-admin-datatables.min.js"></script>
}
