@model IEnumerable<Portal_v1._0._1.Models.SepetGelen>
@{
    ViewBag.Title = "Masraflar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Admin/Index">Admin</a>
    </li>
    <li class="breadcrumb-item active">Masraflar</li>
</ol>
<!-- Example DataTables Card-->
@if (ViewData["Success"] != null)
{
    <div class="alert alert-success">
        @ViewData["Success"]
    </div>
}

<div class="card border-primary mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> <strong class="custom-strong">Masraf Talepleri</strong>
        <a href="/Admin/MasrafOdenenler" class="ciktiMi-btn btn btn-custom-blue float-right ">Ödenen Masraflar</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th class="custom-strong">Adı Soyadı</th>
                        <th class="custom-strong">Alındığı yer</th>
                        <th class="custom-strong">Açıklama</th>
                        <th class="custom-strong">Toplam Tutar</th>
                        <th class="custom-strong">Onay</th>
                        <th class="custom-strong">Görüntüle</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="custom-strong">Adı Soyadı</th>
                        <th class="custom-strong">Alındığı yer</th>
                        <th class="custom-strong">Açıklama</th>
                        <th class="custom-strong">Toplam Tutar</th>
                        <th class="custom-strong">Onay</th>
                        <th class="custom-strong">Görüntüle</th>

                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="7" class="text-center bg-danger">Masraf talebi yok</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name @item.LastName</td>
                                <td>@item.Tedarikci</td>
                                <td>@item.Aciklama</td>
                                <td>@item.ToplamTutar ₺</td>
                                @if (item.Onaylandi == true)
                                {
                                    if (item.Odendi == true)
                                    {
                                        <td><span class="badge badge-primary" style="padding:5px;">Ödendi</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-success" style="padding:5px;">Onaylandı</span></td>
                                    }

                                }
                                else
                                {
                                    <td><span class="badge badge-danger" style="padding:5px;">Onaylanmadı</span></td>
                                }
                                <td><a href="/Admin/MasrafGoruntule/@item.SepetId.ToString()" class="btn btn-outline-custom-blue" style="padding:0 5px 0 5px;">Görüntüle</a></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">@DateTime.Now.Year</div>
</div>

@section scripts{
    <script src="~/js/sb-admin-datatables.js"></script>
}


